body {
    background-color: #fff;
    color: #000;
}

body.edilex {
    background-color: #00467e;
    color: #fff;
}

/* The toggle box around the slider */
.toggleEdilex {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 21px;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    background-color: rgb(247, 244, 244);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #316ea0;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 21px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }